{% extends 'layout.html' %} 

{% block title %}Support Dashboard{% endblock title %}

{% block body_block %}
   
            <div class="page-title">
              <div class="title_left">
                <h3>Calling App </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group  top_search">
                  <div class="" id="call-status"> <span class="alert alert-warning">Connecting...</span> </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    
                    <div class=" col-md-offset-3 col-md-6">
                        <div class="form-group">
                        <br /> 
                        <input type="text" name="phonenumber-box" class="phonenumber-box form-control input-lg">
                        </div>
                    </div>
                    
                    <div class=" col-md-offset-4 col-md-6">    
                        <p>&nbsp;</p>
                        <button type="button" class="btn btn-primary btn-lg phonenumber-call">Call Number</button>
                        <button class="btn btn-lg btn-danger hangup-button" disabled onclick="hangUp()">Hang up</button>
                        
                        <button class="btn btn-lg btn-success answer-button" disabled>Answer call</button>
                      
                    </div>
                     
<!--                      <div class="ln_solid"></div>-->
                      

                    </form>
                  </div>
                </div>
              </div>
              
              
               <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Calling history   <span class="small">Last 10 entries</span></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      
                     
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    

                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 20%">Date</th>
                          <th>Person</th>
                          <th style="width: 20%">Direction</th>
                          <th>Status</th>
                          <th >Duration</th>
                          <th >Price(Cents)</th>
                          <th style="width: 20%">Add to dialer</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        {% for call in call_list %}
                        
                        <tr>
                          <td>  {{ call.date_created|date:"D d M Y" }} {{ call.date_created|time:"H:i" }} </td>
                          <td>  {% firstof call.to_formatted call.from_formatted  %}   </td>
                          <td>{{call.direction}}</td>
                          <td> <span class="label label-info" >{{call.status}}</span> </td>
                          <td>{{ call.duration|time:"i:s"}}</td>
                          <td>{{call.price}}</td>
                        
                          <td>
                          {%if call.to_formatted %}
                            <a href="#"  class="btn btn-primary btn-xs add-to-dialer" data-content="{{call.to_formatted}}" ><i class="fa fa-folder"></i> Add to dialer </a>
                          {% endif %}  
                          </td>
                        </tr>
        
                        
                        
                        {% endfor %}
                       </tbody>
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            
              
              
              
            </div>
            
            
            
 

         
    {% endblock %}

